<section class="thirteen columns" xmlns="http://www.w3.org/1999/html">
    <h1>Loopbaan</h1>
    <article>
        <header>
            <h1>Joost Kingma Foodmarketing</h1>
            <span><address>Driebergen</address><time>2012 - 2017</time></span>
        </header>
        <p>Ondernemer actief in marketing en distributie van biologische maaltijdboxen (parttime)</p>
    </article>
    <article>
        <header>
            <h1>Joost Kingma Consult / Projecten met Ruimte</h1>
            <span><address>Driebergen</address><time>2003 - 2017</time></span>
        </header>
        <p>Advies, project- en interim-management op het gebied van ruimtelijke organisatie, marketing en communicatie.<p/>
    </article>
    <article>
        <header>
            <h1>Bouwfonds</h1>
            <span><address>Driebergen</address><time>1996 - 2003</time></span>
        </header>
        <p>Directeur Concerncommunicatie<br/> Lid directieraad</p>
    </article>
    <article>
        <header>
            <h1>Arcadis / Heidemij</h1>
            <span><address>Driebergen</address><time>1978 - 1996</time></span>
        </header>
<!--        <p>Mucius sententiae et mei, nec an diam ignota, tale epicurei intellegebat ne sit. Sumo pertinacia contentiones duo ei.</p>-->
    </article>
    <article>
        <header>
            <h1>Ministerie van Defensie</h1>
            <span><address>Driebergen</address><time>1976 - 1978</time></span>
        </header>
        <p> Et sed tritani volumus, dico rebum facilisis ea sed. His mundi efficiantur concludaturque no.
            Cu eos argumentum constituam repudiandae, eu eum lorem nostrum, ei mel dicam iriure fabellas.
        </p>
    </article>
</section>
