<section class="thirteen columns">
    <h1>Opleiding</h1>
    <article>
        <header>
            <h1>Gepromoveerd, faculteit Bouwkunde, afdeling Urbanism</h1>
            <span>Technische Universiteit Delft</span>
            <span><address>Delft</address><time>2010-2012</time></span>
        </header>
        <p>
            <em>Proefschrift: Blijvend aantrekkelijk. Tuinwijken van de jaren ’30</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Traineeship</h1>
            <span>Stanford Research Institute</span>
            <span><address>Stanford, California, VS</address><time>1976</time></span>
        </header>
<!--        <p>-->
<!--            <em></em>-->
<!--        </p>-->
    </article>
    <article>
        <header>
            <h1>Landinrichting - specialisatie Planologie</h1>
            <span>Universiteit Wageningen</span>
            <span><address>Wageningen</address><time>1970 - 1976</time></span>
        </header>
<!--        <p>-->
<!--            <em></em>-->
<!--        </p>-->
    </article>
    <article>
        <header>
            <h1>Gymnasium β</h1>
            <span>School?</span>
            <span><address>Kortenhoef</address><time>1963 - 1970</time></span>
        </header>
<!--        <p>-->
<!--            <em></em>-->
<!--        </p>-->
    </article>
</section>
