<section class="thirteen columns">
    <h1>Publicaties</h1>
        <article>
        <header>
            <h1>Boeken</h1>
        </header>
        <p>
        De Europese dimensie van Heidemij (in Samenwerken met bedrijven in Europa. Visies, feiten en ervaringen. Red. Lic. M.G.F. Puylaert en Drs. A.H.M. Stoelinga, 1995) <br/>
        Buiten wonen; Villawijken in Driebergen 1920-1940 (2006)<br/>
        Tuinstad Haren; Bouwlust in de jaren ’30 (2008)<br/>
        Tuinwijken in Zeist; De allure van het Interbellum (2009)<br/>
        Blijvend aantrekkelijk. Tuinwijken van de jaren ’30 (proefschrift 2012)<br/>
        De magie van het jaren ’30 huis (2013)<br/>
        Tussen ideaal en kapitaal. Bouwfonds, 1946-2006 (2016)<br/>
        Werkelijk Welgelegen, 1817-2017. Van buitenplaats tot landhuispark (2017)<br/>
        Thuis in 2050: utopie of realisme? (in: Utopie voor realisten. De verrekijker voor toekomstdenkers, red. Jan de Groof, 2020)<br/>
        Ruiter voor de Republiek. Ignatius van Kingma, een Friese kolonel in het rampjaar 1672 (2022)<br/>
        </p>
    </article>
    <article>
        <header>
            <h1>Artikelen</h1>
        </header>
        <p>
            <em>In PropertyNL:</em><br/>
        Comeback van de jaren &#39;30 (2005 nr. 9)<br/>
        Een verleden met toekomst, Buiten wonen op de Stichtse Lustwarande (2005 nr. 13)<br/>
        Buitenplaatsen voor burgers; De rolverdeling tussen overheid en markt (2006 nr. 4)<br/>
        Buiten wonen voor iedereen (2006 nr. 5)<br/>
        Primaat van de particuliere sector; Villaparken van de Belle Epoque (2006 nr. 6)<br/>
        Vormgevers van allure; Buitenwijken van het Interbellum (2006 nr. 7)<br/>
        Duurzaam wonen; De sleutel tot het succes van de jaren &#39;20 en &#39;30 (2006 nr. 8)<br/><br/>
            <em>In De landeigenaar (vakblad van de Federatie Particulier Grondbezit):</em><br/>
                    Zit er perspectief in het Landschapsmanifest? (juni 2007) <br/>
        Wie trekt de portemonnee voor het cultuurlandschap? (juni 2008) <br/>
        Landschap duurzaam financieren. Een wet voor het cultuurlandschap (december 2009) <br/>
        Landschap laten leven. Appèl voor een financieringstrategie (augustus 2010) <br/>
        Rood voor groen ‘old style’ (augustus 2012) <br/>
        </p>
    </article>
    <article>
        <header>
            <h1>Papers</h1>
        </header>
        <p>
        Towards a vital countryside in Europe (FPG 2007) <br/>
        Locatieontwikkeling voor organisaties: economie, plaats en identiteit (Total Identity 2005)<br/>
        </p>
    </article>
</section>